html, div, body, ul, li {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.menu {
  width: 300px;
  /*position: absolute;*/
  top: 0;
  left: 100px;
  z-index: 100;
  background-color: #555;
  color: #fff;
  list-style-type: none;
}

.menu a, .menu a:hover, .menu a:active, .menu a:visited {
  text-decoration: none;
  color: #fff;
}

#coffee-list {
  padding: 5px 0 0 5px 
}

#coffee-list .coffee-shop{
  display: inline-block;
  border: 1px solid #bbb;
  margin: 0 5px 5px 0 
}

#root {
  display: inline-block;
  width: 100%;
  height: 100%;
}

#map-canvas {
  width: 100%;
  height: 100%;
}